<header>
  <nav class="navbar navbar-dark fundo-amarelo">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<div class="row">
  <nav class="col-3">
    <div class="nav flex-column nav-pills fundo-amarelo-escuro" >
      <a  routerLinkActive="active" routerLink="/Home" class="nav-link">Home</a>
      <a  routerLinkActive="active" routerLink="/NovoPedido" class="nav-link"> Pedidos</a>
    </div>
  </nav>
  <div class="col-md-9 ">
    <router-outlet></router-outlet>
  </div>
</div>
